footer.container#colophon
  .span.pull-right
    .credits
      p Um projeto em parceira
      &nbsp;&nbsp;
      a(href="http://apublica.org",title="Agência Pública")
        img(alt="Agência Pública",src="/img/logos/apublica.jpg")
      &nbsp;&nbsp;
      a(href="http://oeco.com.br",title="O Eco")
        img(alt="O Eco",src="/img/logos/oeco.png")
  .span.pull-left
    p Desenvolvimento
    &nbsp;&nbsp;
    a(href="http://ecolab.oeco.org",title="Ecolab")
      img(alt="Agência Pública",src="/img/logos/ecolab.png")
    