footer.container#colophon
  .span.pull-right
    .credits
      p.text-right.muted Uma parceria com
      &nbsp;&nbsp;
      a(href="http://apublica.org",title="Agência Pública")
        img(alt="Agência Pública", src="/img/logos/apublica.jpg")
  .span.pull-left#dev-info-footer
    p.muted Desenvolvimento
    &nbsp;&nbsp;
    a(href="http://ecolab.oeco.org.br",title="Ecolab")
      img(alt="Agência Pública",src="/img/logos/ecolab.png")
    p
    p
      small 
        | Veja o 
        a(href='http://github.com/oeco/bndes-na-amazonia') código-fonte 
        |deste projeto.
    