footer.container#colophon
  .span.pull-right
    .credits
      p.text-right.muted Uma parceria com
      &nbsp;&nbsp;
      a(href="http://apublica.org",title="Agência Pública")
        img(alt="Agência Pública", src="/img/logo-publica-small.png")
  .span.pull-left#dev-info-footer
    p.muted Realização
    &nbsp;&nbsp;
    a(href="http://infoamazonia.org",title="InfoAmazonia")
      img(alt="InfoAmazonia",src="/img/infoamazonia-banner.png")
    p
    p
      small 
        | Veja o 
        a(href='http://github.com/oeco/bndes-na-amazonia') código-fonte 
        |deste projeto.
    