footer.container#colophon
  .span.pull-right
    .credits
      span.credits-title Um projeto
      &nbsp;&nbsp;
      a(href="http://apublica.org",title="Agência Pública")
        img(alt="Agência Pública",src="/img/logos/apublica.jpg")
      &nbsp;&nbsp;
      | e 
      &nbsp;&nbsp;
      a(href="http://oeco.com.br",title="O Eco")
        img(alt="O Eco",src="/img/logos/oeco.png")
        
