header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') BNDES na Amazônia
        .nav-collapse.collapse
          ul.nav
            li
              a(href="/projects/", title="Projetos") Projetos
            li
              a(href="/financings/", title="Financiamentos") Financiamentos
            li
              a(href="/organizations/", title="Organizações") Organizações
          
          ul.nav.pull-right
            if (req.isAuthenticated())
              li
                a(href="/users/"+req.user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login