header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner#masthead-nav
      #top-logo
        a(href="http://www.oeco.org.br",title="Ecolab")
          img(alt="((o))",src="/img/logo-oeco-small.png")      
    
      .container
        a.brand(href='/') BNDES na Amazônia
        .nav-collapse.collapse
          ul.nav
            li
              a(href="/financings/", title="Financiamentos") Financiamentos
            li
              a(href="/projects/", title="Projetos") Projetos
            li
              a(href="/organizations/", title="Organizações") Beneficiários
        .nav-collapse.collapse
          ul.nav.pull-right
            li
              a(href="/sobre", title="Sobre o BNDES na Amazônia") Sobre