div(display:inline-block vertical-align:top)
  span 
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bndesnamazonia.org" data-text="Os financiamentos do BNDES na Amazônia:" data-lang="pt">Tweetar</a>
  script(type='text/javascript').
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  <div id="fb-root"></div>
  script(type='text/javascript').
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=354334404703951";
    fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

  <span class="fb-like" data-href="http://bndesnaamazonia.org" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></span>
