body {
  padding-top: 101px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;  
  background: #f0f0f0;
  color: #333;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Cantata One","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

/* Header */

#masthead-nav {
  background: #333;
  padding: 20px 0;
}

#masthead-nav .brand {
  color: #88df44;
  text-shadow: 0 1px 0 #000;
  font-weight: 800;
}

#masthead-nav .nav >li >a {
  text-shadow: 0 0 0;
  color: #999;  
}

#masthead-nav .nav >li >a:hover {
  color: #f0f0f0;
}

#top-logo {
  position: absolute;
  padding: 23px 10px 0;
  top: 0;
  bottom:0;
  background:#fff;
}

/* Footer */

#dev-info-footer {
  margin-left: 0px;
}

/* Tables */

.table {
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;  
  -o-border-radius: 4px;
}

.table td, .table th {
  padding: 15px;
}

.container {
  width: auto;
  max-width: 960px;
}


.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

#colophon {
  padding: 40px;
}

