extends ../layouts/default

block main
  h1.text-center Área administrativa

block content
  div
    h2.text-center Coleções de dados
    table(class='table table-bordered table-striped')
      thead
        tr
          th 
            .text-center Coleção
          th
            .text-center Situação
      tbody
        tr
          td Estados
          td
            .text-center
              - if (statesCount == 0)
                span(class='label label-important') não há estados carregados
              - else
                span(class='label label-success') 
                  = statesCount
                  |  estados
        tr
          td Setores de atividade econômica
          td
            .text-center
              - if (economicActivitiesCount == 0)
                span(class='label label-important') não há setores carregados
              - else
                span(class='label label-success') 
                  = economicActivitiesCount
                  |  setores
    .text-center
      a.btn(href='/admin/populate') Carregar todas coleções