extends ../layouts/default


block main
  h1= title
  hr

block content
  - var action = '/entities'
  - action += entity.isNew? '' : '/' + entity.id
  
  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!entity.isNew)
          input(type="hidden", name="_method", value="PUT")
        
        .control-group
          label.control-label(for='shortName') Short name
          .controls
            input#title.input-xlarge(type='text', name="shortName", value=entity.shortName, placeholder='Enter entity short name')
        
        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/entities', title="cancel") Cancel
