extends ../layouts/default

block head

block main

block content

  container.span8.offset1
    h2 Sobre o BNDES na Amazônia
    p 
      | Este site, e a 
      a(href='http://www.oeco.org.br/bndes-na-amazonia') série de reportagens 
      | produzida pela 
      a(href='http://www.apublica.org') Agência Pública 
      | em parceria com o 
      a(href='http://www.oeco.org.br') O Eco
      | ,  fazem parte de um projeto de investigação sobre os investimentos do 
      a(href='htpp://www.bndes.gov.br') Banco Nacional de Desenvolvimento Econômico e Social (BNDES) 
      | na região amazônica, tanto no Brasil, quanto nos países vizinhos. Os dados estão sendo coletados a partir das planilhas disponibilizadas pelo próprio BNDES em seu site, no setor 
      a(href='http://www.bndes.gov.br/SiteBNDES/bndes/bndes_pt/Institucional/BNDES_Transparente') “BNDES Transparente”
      | , que datam a partir de 2008, e de outras fontes oficiais. 
    p
      | Para este projeto, foram selecionados apenas os investimentos destinados aos Estados que compõem a 
      a(href='http://pt.wikipedia.org/wiki/Amaz%C3%B4nia_Legal') Amazônia Legal 
      | no Brasil, especificamente para o setor de infraestrutura, em atividades como: produção de energia, investimentos viários, ferroviários e portuários, mineração, saneamento básico, infraestrutura urbana e implantação de plantas industriais.
  