extends ../layouts/default

block head
  | será??

block main
  h1 O dinheiro público na Amazônia

block content
  p
    | O Banco Nacional de Desenvolvimento Econômico e Social (BNDES) é o maior financiador de grandes projetos na Amazônia. O banco é responsável por financiar barragens, linhas de transmissão, termelétricas e outros de projetos de grande impacto ambiental.
  p 
    | A Agência Pública, em parceira com ((O Eco)), produziu uma série de reportagens sobre o tema, que podem ser lidas aqui. 
  p 
    | Continuar texto
  
  h2.text-center Os maiores projetos
    
    <iframe style="border: none;" src="//e.infogr.am/Desembolsos-em-infraestrutura-na-Amaznia-2008-2012" height="787" width="600" frameborder="0" scrolling="no"></iframe>

  h2.text-center Desembolsos do BNDES em infraestrutura

    <iframe style="border: none;" src="//e.infogr.am/Desembolsos-do-BNDES-em-infraestrutura" height="561" width="550" frameborder="0" scrolling="no"></iframe>

  h2.text-center Desembolos do BNDES em infraestrutura, por setor

    <iframe style="border: none;" src="//e.infogr.am/Desembolsos-do-BNDES-no-setor-de-infraestrutura" height="671" width="600" frameborder="0" scrolling="no"></iframe>