extends ../layouts/default

block head
  | será??

block main
  h1 O dinheiro público na Amazônia

block content
  p
    | O Banco Nacional de Desenvolvimento Econômico e Social (BNDES) é o maior financiador de grandes projetos na Amazônia. O banco é responsável por financiar barragens, linhas de transmissão, termelétricas e outros de projetos de grande impacto ambiental.
  p 
    | A Agência Pública, em parceira com ((O Eco)), produziu uma série de reportagens sobre o tema, que podem ser lidas aqui. 
  p 
    | Continuar texto

  h2 Os projetos que receberam mais financiamentos
  
  div#projects_div
  

append javascript
  script(src='https://www.google.com/jsapi')
  - var projectsArray = []
  - _.each(projects,function(project,index){
  -   projectsArray.push('[\"'+(index+1)+'o.\",'+project.financingTotal+']')
  - })
  - console.log('['+projectsArray.join(', ')+']')
  script
    var projectsDataArray = !{'['+projectsArray.join(', ')+']'}
  script.
    // Load the Visualization API and the piechart package.
    google.load("visualization", "1", {packages:["corechart"]});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    
    data.addColumn('string', 'Posição');
    data.addColumn('number', 'Total em Financiamentos');

        
    function drawChart() {
      var data = google.visualization.arrayToDataTable(projectsDataArray);      
      
      var options = {
        height: 500
      };

      var chart = new google.visualization.BarChart(document.getElementById('projects_div'));
      chart.draw(data, options);
    }
    