extends ../layouts/default

block main
  h1 Projetos na Amazônia

block content
  - if (projects.length)
    - each project in projects
      .project
        h3
          a(href='/projects/'+project._id, title=project.title) #{project.title}
        p=project.description
    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted Sem projetos cadastrados.&nbsp;
      a(href="/projects/new") Criar um
