extends ../layouts/default

block main
  h1 Projetos mapeados

block content
  a(href="/projects/new") Novo projeto
  - if (projects.length)
    - each project in projects
      .project
        h3
          a(href='/projects/'+project._id, title=project.title) #{project.title}
        p 
          | Montante Financiado: 
          =project.financingTotal
        p
          | Descrição: 
          = project.description
        
        h4 Visualização
        - var pie = new Quiche('pie');
        - pie.setTransparentBackground()
        - pie.addData(3000, 'Foo', 'FF0000');
        - pie.addData(2900, 'Bas', '0000FF');
        - pie.addData(1500, 'Bar', '00FF00');
        - var imageUrl = pie.getUrl(true);
        img(src=imageUrl)
    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)