extends ../layouts/default

block main
  h1 Projetos

block content
  - if (projects.length)
    p
      a.btn(href='/dados/projetos.csv', class="pull-right btn-primary") Baixar em CSV
    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
    table.table
      thead
        tr
          th Nome
          th.span2
            .text-center Total Financiado
          th.span2
            .text-center Ações do MP
      tbody
      - each project in projects
        tr
          td
            a(href='/projects/'+project._id, title=project.title) #{project.title}
          td
            .text-center
              =accounting.formatMoney(project.totalFinanced, "R$", 2, ".", ",")
          td
            .text-center
              =project.legalActionsQty
          td 
            a.btn(href='/projects/'+project._id, class="btn-info btn-small") Detalhes


    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)

  - else
    p Não há projetos mapeados.
    a.btn(href='/populate') Carregar informações agora