extends ../layouts/default

block main
  h1 Projetos

block content
  - if (projects.length)
    p 
      a(href='/data/projects.csv') Baixar em CSV  
    table.table
      thead
        tr
          th Nome
          th Total Financiado
          th Ações no Ministério Público
      tbody
      - each project in projects
        tr
          td
            a(href='/projects/'+project._id, title=project.title) #{project.title}
          td
            =accounting.formatMoney(project.totalFinanced, "R$", 2, ".", ",")
          td
            =project.legalActionsQty
            

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p Não há projetos mapeados.
    a.btn(href='/populate') Carregar informações agora