extends ../layouts/default

block main
  h1= project.title

block content
  p=project.description
  h2 Estados afetados
  ul  
    - each state in project.places.states
      li=state
  h2 Financiamentos
  p 
    |Total: 
    =project.financingTotal
  ul  
    each financing in project.financings
      li
        =financing._id
        | (
        =financing.amount
        |  reais)

    

