extends ../layouts/default

block main
  h1= project.title

block content
  p=project.description

  h2 Financiamentos
  table.table
    thead
      tr
        th
          .text-center Data
        th 
          .text-center Tipo
        th
          .text-center Valor
    tbody
      - each financing in project.financings
        tr
          td
            .text-center
              a(href='/financings/'+financing._id, title="Abrir financiamento")=Moment(financing.contractDate).format('DD/MM/YYYY')
          td
            .text-center
              - if (financing.isDirect)
                | Direto
              - else
                | Indireto
          td
            .text-center
              =accounting.formatMoney(financing.amount, "R$", 2, ".", ",")
    tfoot
      tr
        td 
        td.text-center
            b Total
        td 
          .text-center
            b
              =accounting.formatMoney(project.totalFinanced, "R$", 2, ".", ",")
    
  - if (project.legalActionsQty > 0)
    h2 
      =project.legalActionsQty
      |  ações do Ministério Público
    p=project.legalActionsDescription
  - else
    p Não há ações do Ministério Público para este projeto

  p.pull-right 
    a.btn(href="javascript:history.back()" class="btn-primary") Voltar
