extends ../layouts/default

block main
  h1= project.title

block content
  p=project.description
  h2 Estados afetados
  ul  
    - each state in project.states
      li=state
  h2 Financiamentos
  p 
    |Total: 
    =project.financingTotal
  ul  
    each financing in project.financings
      li
        =financing._id
        | (
        =financing.amount
        |  reais)
  p
    br
    form.center.form-inline.confirm(action="/projects/"+project._id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/projects/'+project._id+'/edit', title="Editar") Editar
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Apagar