extends ../layouts/default

block main
  h1 Beneficiários

block content
  - if (organizations.length)
    p
      a.btn(href='/dados/beneficiarios.csv', class="pull-right btn-primary") Baixar em CSV
    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
      
  
    table.table
      thead
        tr
          th Nome
          th 
            .text-center Total em financiamentos
      tbody
        - each organization in organizations
          tr
            td
              a(href='/organizations/'+organization._id, title=organization.name) #{organization.name}
            td
              .text-center
                =accounting.formatMoney(organization.totalFinanced, "R$", 2, ".", ",")
            td 
              a.btn(href='/organizations/'+organization._id, class="btn-info btn-small") Detalhes
                

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)


  - else
    p Não há organizações mapeadas.
    a.btn(href='/populate') Carregar informações agora    