extends ../layouts/default

block main
  h1 Beneficiários

block content
  - if (organizations.length)
    table.table
      thead
        tr
          th Nome
          th 
            .text-center Total em financiamentos
      tbody
        - each organization in organizations
          tr
            td
              a(href='/organizations/'+organization._id, title=organization.name) #{organization.name}
            td
              .text-center
                =accounting.formatMoney(organization.totalFinanced, "R$", 2, ".", ",")

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p Não há organizações mapeadas.