extends ../layouts/default

block main
  h1 Organizações mapeadas

block content
  a(href="/organizations/new") Criar nova organização
  - if (organizations.length)
    table.table
      thead
        tr
          th Organização
          th Atividade
      tbody
        - each organization in organizations
          tr
            td
              a(href='/organizations/'+organization._id, title=organization.title) #{organization.title}
            td=organization.activity.description

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p Não há organizações mapeadas.