extends ../layouts/default

block main
  h1= organization.name

block content
  - if (organization.profile)
    p=organization.profile
  h2 Financiamentos

  table.table
    thead
      tr
        th 
          .text-center Data
        th 
          .text-center Tipo
        th 
          .text-center Valor
    tbody
      - each financing in organization.financings
        tr
          td
            .text-center
              a(href='/financings/'+financing._id, title="Abrir financiamento")=Moment(financing.contractDate).format('DD/MM/YYYY')
          td
            .text-center 
              - if (financing.isDirect)
                | Direto
              - else
                | Indireto
          td
            .text-center
              =accounting.formatMoney(financing.amount, "R$", 2, ".", ",")
    tfoot
      tr
        td 
        td 
          .text-center
            b Total
        td 
          .text-center
            b
              =accounting.formatMoney(organization.totalFinanced, "R$", 2, ".", ",")            


  p 
    <a href="javascript:history.back()">Voltar</a>
