extends ../layouts/default

block main
  h1= organization.name

block content
  - if (organization.profile)
    p=organization.profile
  - else
    p Perfil não definido para esta organização!
  p Exerce atividades de:
  ul
    each activity in organization.activities
      li=activity

  p
    br
    form.center.form-inline.confirm(action="/organizations/"+organization._id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/organizations/'+organization._id+'/edit', title="Editar") Editar
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Apagar
  p 
    a(href='/organizations', title="Lista de Organizações") Ir para a lista de organizações
  p
    a(href='/organizations/new', title="Adicionar uma nova organização") Adicionar uma nova organização
