

extends ../layouts/default

block main
  h1 Financiamentos

block content
  p 
    a(href='/data/financings.csv') Baixar toda a lista em CSV
  - if (financings.length)
    table.table
      thead
        tr
          th
            .text-center Ano
          th 
            .text-center Projeto
          th 
            .text-center Beneficiário        
          th 
            .text-center Direto?
          th 
            .text-center Valor
          th
      tbody
        - each financing in financings
          tr
            td #{Moment(financing.contractDate).utc().format('YYYY')}
            td
              a(href='/projects/'+financing.project._id, title="Abrir projeto")=financing.project.title            
            td
              .text-center
                - if (financing.beneficiary)
                  a(href='/organizations/'+financing.beneficiary._id, title="Abrir beneficiário") #{financing.beneficiary.name}
                - else
                  | -
            td 
              .text-center
                - if (financing.isDirect)
                  | Sim
                - else
                  | Não

            td  
              .text-center
                =accounting.formatMoney(financing.amount, "R$", 2, ".", ",")

            td 
              a(href='/financings/'+financing._id, title="Abrir financiamento") Exibir
              

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted Não há financiamentos mapeados.&nbsp;
