extends ../layouts/default

block main
  h1= financing.title

block content
  h2 Ficha do financiamento
  p 
    | Beneficiário: 
    - if (financing.beneficiary)
      a(href='/organizations/'+financing.beneficiary._id)=financing.beneficiary.name
    - else
      | Não um beneficiário associado a este financiamento!  
  p
    | Projeto:     
    - if (financing.project)
      a(href='/projects/'+financing.project._id)=financing.project.title
    - else
      | Não há projetos associados a este financiamento!
  p
    | Descrição: 
    - if (financing.description)
      =financing.description
    - else
      | Não há descrição para este projeto
      
  p 
    | Data:
    =Moment(financing.contractDate).utc().format('DD/MM/YYYY')
  p 
    | Valor: #{Globalize.format(financing.amount,'c')}
  p 
    | Tipo: 
    - if (isDirect)
      | Direto
    - else 
      | Indireto
  p
    <a href="javascript:history.back()">Voltar</a>