extends ../layouts/default

block main
  h1= financing.title

block content
  h2 Dados sobre este financiamento
  table.table
    tr
      th
        | Beneficiário
      td
        - if (financing.beneficiary)
          a(href='/organizations/'+financing.beneficiary._id)=financing.beneficiary.name
        - else
          | Não um beneficiário associado a este financiamento!  
    tr
      th
        | Projeto
      td
        - if (financing.project)
          a(href='/projects/'+financing.project._id)=financing.project.title
        - else
          | Não há projetos associados a este financiamento!
    tr
      th 
        | Data
      td
        =Moment(financing.contractDate).utc().format('DD/MM/YYYY')
    tr
      th 
        | Valor
      td
        strong=accounting.formatMoney(financing.amount, "R$", 2, ".", ",")
    tr
      th 
        | Tipo
      td
        - if (isDirect)
          | Direto
        - else 
          | Indireto

  p.pull-right 
    a.btn(href="javascript:history.back()" class="btn-primary") Voltar
